@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header {
    z-index: 99;
}

.contenedor-header .navbar {
    background-color: #1e2326;
}

.contenedor-header .navbar-brand {
    font-family: 'Righteous', sans-serif;
    font-size: 36px;
    color: #1cb698;
}

.contenedor-header .navbar-nav .nav-link {
    color: #fff;
}

.contenedor-header .navbar-nav .nav-link:hover {
    color: #1cb698;
}

.btn-circle {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* INICIO */
.inicio {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), 
    url(img/fondo.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio .contenido-banner {
    background-color: rgba(30, 35, 38, 0.7); /* Slightly transparent background */
    max-width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}

.inicio .contenido-banner img {
    border: 10px solid #1cb698;
    width: 80%;
    border-radius: 50%;
}

.inicio .contenido-banner h1 {
    margin-top: 35px;
    font-size: 38px;
    font-family: "Righteous", sans-serif;
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: #1cb698;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #1cb698;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;
    margin: 5px;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #fff;
    color: #1cb698;
}

/* SOBRE MI */
.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 20px;
}

.sobremi .container {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: "Righteous", sans-serif;
    text-align: center;
    padding: 20px 0;
}

.sobremi p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.sobremi p span {
    color: #1cb698;
    font-weight: bold;
}

.sobremi .row {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .col-md-6 {
    margin-bottom: 20px;
}

.sobremi h3 {
    font-size: 28px;
    font-family: "Righteous", sans-serif;
    margin-bottom: 25px;
}

.sobremi ul {
    list-style: none;
    padding: 0;
}

.sobremi ul li {
    margin: 12px 0;
}

.sobremi ul li strong {
    display: inline-block;
    color: #1cb698;
    width: 130px;
}

.sobremi ul li span {
}